<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <title>Admin panel</title>
</head>
<body>
<div th:include="fragments/navpanel.html :: navPanel"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <br>
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="/admin" class="nav-link active">Admin</a>
                </li>
                <li class="nav-item">
                    <a href="/user" class="nav-link">User</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-10 bg-light px-5" style="height: 100vh">
            <br>
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a href="#usersTable" class="nav-link active" data-toggle="tab">Users table</a>
                </li>
                <li class="nav-item">
                    <a href="#newUser" class="nav-link" data-toggle="tab">New user</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="usersTable">
                    <div class="card">
                        <div class="card-header">
                            <strong>All users</strong>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-hover">
                                <caption>
                                    Users of the system
                                </caption>
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>E-mail</th>
                                    <th>Roles</th>
                                    <th>Options</th>
                                </tr>
                                </thead>
                                <tbody>
                                <th:block th:each="user : ${users}">
                                    <tr>
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td>
                                            <div th:each="role : ${user.getRoles()}">
                                                <span class="text-uppercase"
                                                      th:text="${role.toString() + ' '}"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button th:data-target="${'#editUser'+user.getId()}"
                                                        data-toggle="modal"
                                                        class="btn btn-primary">Edit
                                                </button>
                                            </div>
                                            <div class="btn-group">
                                                <button th:data-target="${'#deleteUser'+user.getId()}"
                                                        data-toggle="modal"
                                                        class="btn btn-danger">Delete
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <div class="modal" th:id="${'editUser'+user.getId()}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <strong th:text="${'Edit user: '+user.getUsername()}"></strong>
                                                    <button class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <div class="row">
                                                        <div class="col-sm-3"></div>
                                                        <div class="col-sm-6">
                                                            <form th:action="${#request.getContextPath()} + '/admin/update/' + ${user.id}"
                                                                  method="POST"
                                                                  th:id="${'userEditForm'+user.getId()}">
                                                                <input type="hidden" name="id"
                                                                       th:value="${user.getId()}">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="editUserPassword">
                                                                        Password</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           name="password"
                                                                           id="editUserPassword"
                                                                           placeholder="Enter new password"
                                                                           th:value="${user.getPassword()}"
                                                                           required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="editUserEmail">
                                                                        Email</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           name="email"
                                                                           id="editUserEmail"
                                                                           placeholder="Enter new email"
                                                                           th:value="${user.email}"
                                                                           required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold">
                                                                        Role
                                                                    </label>
                                                                    <select class="custom-select"
                                                                            th:size="${roles.size()}" name="roles"
                                                                            multiple required>
                                                                        <div th:each="role : ${roles}">
                                                                            <option th:value="${role.getId()}"
                                                                                    th:text="${role.toString()}"></option>
                                                                        </div>
                                                                    </select>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="col-sm-3"></div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-dark" data-dismiss="modal">Close</button>
                                                    <button type="submit" th:form="${'userEditForm'+user.getId()}"
                                                            class="btn btn-primary">Edit
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal" th:id="${'deleteUser'+user.getId()}">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <strong th:text="${'Delete user: '+user.getEmail()}"></strong>
                                                    <button class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <div class="row">
                                                        <div class="col-sm-3"></div>
                                                        <div class="col-sm-6">
                                                            <form th:action="${#request.getContextPath()} + '/admin/delete/' + ${user.id}"
                                                                  method="POST"
                                                                  th:id="${'userDeleteForm'+user.getId()}">
                                                                <input type="hidden" name="id"
                                                                       th:value="${user.getId()}">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="deleteUserPassword">
                                                                        Password</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           name="password"
                                                                           id="deleteUserPassword"
                                                                           placeholder="*************"
                                                                           disabled>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                           for="deleteUserEmail">
                                                                        Email</label>
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           name="email"
                                                                           id="deleteUserEmail"
                                                                           placeholder="Enter new email"
                                                                           th:value="${user.email}"
                                                                           disabled>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold">
                                                                        Role
                                                                    </label>
                                                                    <select class="custom-select"
                                                                            th:size="${user.getRoles().size()}"
                                                                            name="roles"
                                                                            multiple disabled>
                                                                        <div th:each="role : ${user.getRoles()}">
                                                                            <option th:value="${role.getId()}"
                                                                                    th:text="${role.toString()}"></option>
                                                                        </div>
                                                                    </select>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="col-sm-3"></div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button class="btn btn-dark" data-dismiss="modal">Close</button>
                                                    <button type="submit" th:form="${'userDeleteForm'+user.getId()}"
                                                            class="btn btn-danger">Delete
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="newUser">
                    <div class="card">
                        <div class="card-header">
                            <strong>Add new user</strong>
                        </div>
                        <div class="card-body text-center border">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-sm-3"></div>
                                    <div class="col-sm-6">
                                        <form action="/admin/create" method="post">
                                            <div class="form-group">
                                                <label class="font-weight-bold" for="newUserPassword">
                                                    Password
                                                </label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="password"
                                                       id="newUserPassword"
                                                       placeholder="Enter password"
                                                       required>
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold" for="newUserEmail">
                                                    E-mail
                                                </label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="email"
                                                       id="newUserEmail"
                                                       placeholder="Enter your e-mail"
                                                       required>
                                            </div>
                                            <label class="font-weight-bold">
                                                Role
                                            </label>
                                            <select class="custom-select" th:size="${roles.size()}" name="roles"
                                                    multiple required>
                                                <div th:each="role : ${roles}">
                                                    <option th:value="${role.getId()}"
                                                            th:text="${role.toString()}"></option>
                                                </div>
                                            </select>
                                            <div class="btn">
                                                <input type="submit" class="btn btn-success" value="Add new user">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-sm-3"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</html>